{% extends "auctions/layout.html" %}


{% block body %}
<h2>Active Listings</h2>
{% for newlist in thenewlist%}
<div class="rounded border border-info" style="margin-left:0px; margin-bottom:15px;">
    <div>
        <div class="h-auto d-inline-block" style="width: 500px; height: 350px;">
            <img style="width: 80%" src="{{newlist.image}}" class="rounded" alt="no image">
        </div>
        <div class="h-auto d-inline-block" style="width: 500px">
            <h4><a href="{%url 'eachlists' newlist.id %}">{{newlist.title}}</a></h4>
            <div>Price: Twd{{newlist.bid}}</div>
            <div>{{newlist.description}}</div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}